body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.6;
}

h2,
h4,
h5,
span,
a,
.btn {
  letter-spacing: 1.5px;
}

/* NAVBAR */
.navbar-brand {
  border-right: 1px solid #333;
  padding-right: 1rem;
}

.navbar-nav .nav-item {
  margin-right: 2px;
  font-size: larger;
}

.navbar-nav li:hover {
  transition: 0.5s;
}

.dropdown-menu {
  margin-top: 10px;
  background-color: #333;
}

.dropdown-menu a {
  color: white;
}

.custom-btn {
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0.25rem;
}

.navbar .form-inline .form-control {
  width: 200px;
}

.navbar .form-inline .btn {
  margin-left: 5px;
}

/* SOCIAL MEDIA */

.social-icons {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 100;

  a {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 16px;
    border-radius: 30%;
    text-align: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }

  a:hover {
    background-color: #ddd;
    color: #343a40;
  }
}

/* CAROUSEL */

header {
  position: relative;
}

.carousel-item img {
  height: 600px;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 10px;
}

/* DESTINATION */

#destination {
  .card-header .icon {
    float: right;
    font-size: 20px;
    width: 1.3em;
  }

  .card-header .title {
    font-size: 17px;
    color: #000;
  }

  .card-header {
    cursor: pointer;
    border-bottom: none;
  }

  .card {
    border: 1px solid #ddd;
  }

  .card-body {
    border-top: 1px solid #ddd;
  }

  .card-header:is(.collapsed) .rotate-icon {

    transition: 0.3s;
    transform: rotate(180deg);
  }

  .card-header:not(.collapsed) .rotate-icon {
    transition: 0.3s;
    transform: rotate(360deg);
    color: #aa0505;
  }
}

/* BACKGROUND */

.fixed-bg,
.fixed-bg2 {
  background: no-repeat center fixed;
  background-size: cover;
  height: 300px;
}

.fixed-bg {
  background-image: url('../images/about1.jpg');
}

.fixed-bg2 {
  background-image: url('../images/background.jpg');
}

/* TRIPS */

#trips {
  .card {
    position: relative;
    z-index: 2;
    transition: 1.5s;
    cursor: pointer;
  }

  .card::after {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    content: "";
    display: block;
    transition: 1.5s;
    opacity: 0;
    background-color: rgb(75, 71, 71);
  }

  .card:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 1.5s;

  }

  .card::before {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    transition: 1.5s;
    opacity: 0;
    background-color: rgb(75, 71, 71);
  }

  .card:hover::before {
    /* z-index: -1; */
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 1.5s;
  }

  .card:hover .card-body {
    color: white;
    z-index: 2;
    transition: 1.5s;
    cursor: text;

  }
}

/* TEAM */

#team .card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  min-height: 400px;
  cursor: pointer;
  transition: 1s;

}

.thanks-text {
  position: absolute;
  top: 10px;
  left: 20%;
  color: white;
  padding: 5px;
  z-index: 2;
  cursor: text;
}

.background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;

}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card-content {
  position: relative;
  z-index: 2;
  color: white;
  padding: 1rem;
  bottom: -19rem;
  left: 6rem;
  cursor: text;
}

.small-image {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 2;
}

#team .card:hover {
  transform: scale(1.02);
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

/* RECENT NEWS */

#recent-news {
  .card {
    background-color: #bdbdbd;
    transition: 1s;

  }

  .card-img-top {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    transition: 0.5s;
    cursor: pointer;
    border-radius: 2%;

  }

  .news-icon-text {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
  }

  .fas {
    margin-right: 8px;
  }

  .news-card-text {
    cursor: text;
    font-size: 1.2rem;
  }

  .line {
    width: 50px;
    height: 5px;
    margin-top: 3rem;
    margin-left: -7rem;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.5s ease;
  }

  .btn-container {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    justify-content: space-between;
    margin-top: 15px;
  }

  @media (max-width: 576px) {
    .news-card-content {
      padding: 15px;

    }

    .btn-container {
      display: none;
    }

  }
}

#recent-news .card:hover {
  .card-img-top {
    transform: scaleX(1.02);
    transition: 1s;
    background-size: contain;
  }

  .news-card-title {
    color: #ece8e8;
    transition: 0.5s;

  }

  .line {
    width: 9rem;
    transition: 1s;
  }
}

/* JOIN US */
#join-us {
  .fa-3x {
    margin-left: 5px;
    width: 5rem;
    height: 5rem;
    border-radius: 20%;
  }

  a {
    padding-top: 1.1rem;
    padding-left: 0.2rem;
    text-decoration: none;
  }
}


/* Footer */
footer {
  color: #fff;
  transition: 0.3 color ease-out;
}

footer {
  a:hover {
    text-decoration: none;
    color: rgb(168, 168, 175);
    transition: 0.3s color ease-out;
  }

  a {
    color: #fff;
  }

  p {
    font-size: 16px;
  }

  .col-sm-6 {
    width: 50%;
  }
}
